<mat-tab-group color="accent" *ngIf="Alltodos().length > 0; else SemTarefas" [(selectedIndex)]="indexaux">
    <mat-tab label="Em andamento">
      <div *ngFor="let tarefa of Alltodos()">
        <mat-card class="todo_card" *ngIf="!tarefa.done">
          <mat-card-header>
            <mat-card-title class="todo_card_title">{{tarefa.title}}</mat-card-title>
            <mat-card-subtitle class="todo_card_subtitle">{{tarefa.description}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-actions align="end">
            <button class="header_btn check-btn" mat-icon-button aria-label="Concluir Tarefa" (click)="concluirTarefa(tarefa.id)"> <mat-icon> done_all</mat-icon></button>
            <button class="header_btn check-btn todo_form_delete_btn" mat-icon-button aria-label="Deletar Tarefa" (click)="deletarTarefa(tarefa)"> <mat-icon>delete_forever</mat-icon></button>
            <button class="header_btn check-btn todo_form_warn_btn" color="warning" mat-icon-button aria-label="Editar Tarefa" (click)="editarTarefa(tarefa.id)" > <mat-icon>edit_note</mat-icon></button>
          </mat-card-actions>
        </mat-card>
      </div>
    </mat-tab>
    <mat-tab label="Concluidas">
      <div *ngFor="let tarefa of Alltodos()">
        <mat-card class="todo_card" *ngIf="tarefa.done">
          <mat-card-header>
            <mat-card-title class="todo_card_title">{{tarefa.title}}</mat-card-title>
            <mat-card-subtitle class="todo_card_subtitle">{{tarefa.description}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-actions align="end">
            <button class="header_btn check-btn" mat-icon-button aria-label="Concluir Tarefa" (click)="retornarTarefa(tarefa.id)"> <mat-icon> done_all</mat-icon></button>
            <button class="header_btn check-btn todo_form_delete_btn" color="warning" mat-icon-button aria-label="Deletar Tarefa" (click)="deletarTarefa(tarefa)"> <mat-icon>delete_forever</mat-icon></button>
          </mat-card-actions>
        </mat-card>
      </div>
    </mat-tab>
</mat-tab-group>

<ng-template #SemTarefas>
  <h3 class="warn_message">Nao ha tarefas a serem exibidas</h3>
</ng-template>
